
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0f172a; /* Slate 900 */
    color: #e2e8f0; /* Slate 200 */
    overflow: hidden; /* App-like feel */
    user-select: none;
    -webkit-user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
